.head{
  color:white;
  border: 3px solid white;


}

.body{
  background-color: black;
}

#btn{
  color:white;
  border: 3px solid white;
  font-family: sans-serif;
  background-color: black;
  border-radius: 0px;
  align-content: center;
}

#navbar{
  background: -webkit-linear-gradient(white, transparent);
  border-radius: 0px;
  color:red
}
